attrs==21.4.0
certifi==2021.10.8
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
DateTime==4.3
Fiona==1.8.21
geopandas==0.9.0
greenlet==1.1.2
iniconfig==1.1.1
munch==2.5.0
packaging==21.3
pandas==1.0.3
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pyparsing==3.0.8
pytest==7.1.1
python-dotenv==0.12.0
tomli==2.0.1
zope.interface==5.4.0
numpy==1.19.5
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
Shapely==1.7.0
six==1.14.0
urllib3==1.25.8
zope.interface==5.0.1
requests==2.25.1
sqlalchemy==1.4.3
psycopg2-binary==2.8.4
j2cli
git+https://github.com/berlinonline/ckan_metadata_updater
ckanapi
